@import "tailwindcss";

@layer base {
  :root {
    /* Neutral */
    --color-neutral-900: hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-neutral-0: hsl(0, 0%, 100%);

    /* Orange */
    --color-orange-500: hsl(28, 100%, 52%);

    /* Blue */
    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);
  }

  body {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-0);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
  }
}

@theme {
  --color-neutral-900: var(--color-neutral-900);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-700: var(--color-neutral-700);
  --color-neutral-600: var(--color-neutral-600);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-0: var(--color-neutral-0);

  --color-orange-500: var(--color-orange-500);

  --color-blue-500: var(--color-blue-500);
  --color-blue-700: var(--color-blue-700);

  --font-dm: "DM Sans", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}
